<div class="first-phase-wrapper">
  <div class="heading-text">
    <h1>Kies de interesses die jou aanspreken</h1>
    <h2>Selecteer minimaal 2 interesses</h2>
    <br>
  </div>

  <div class="allImgs">
    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/kanoen.PNG" class="notSelected" hobbyName="kanoën" alt="kanoën"
           (click)="selectHobby($event)">
      <div class="interest-text">Kanoën</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/skydiven.PNG" class="notSelected" hobbyName="skydiven" alt="skydiven"
           (click)="selectHobby($event)">
      <div class="interest-text">Skydiven</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/zwemmen.PNG" class="notSelected" hobbyName="zwemmen" alt="Kanoën"
           (click)="selectHobby($event)">
      <div class="interest-text">Zwemmen</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/uitgaan.PNG" class="notSelected" hobbyName="uitgaan" alt="Kanoën"
           (click)="selectHobby($event)">
      <div class="interest-text">Uitgaan</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/shoppen.PNG" class="notSelected" hobbyName="shoppen" alt="Kanoën"
           (click)="selectHobby($event)">
      <div class="interest-text">Shoppen</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/bioscoop.PNG" class="notSelected" hobbyName="bioscoop" alt="Kanoën"
           (click)="selectHobby($event)">
      <div class="interest-text">Bioscoop</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/museum.PNG" class="notSelected" alt="museum" hobbyName="museum"
           (click)="selectHobby($event)">
      <div class="interest-text">Museum</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/pretpark.PNG" class="notSelected" hobbyName="pretpark" alt="Kanoën"
           (click)="selectHobby($event)">
      <div class="interest-text">Pretpark</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/bezienswaardigheden.jpg" class="notSelected" hobbyName="bezienswaardigheden" alt="bezienswaardigheden"
           (click)="selectHobby($event)">
      <div class="interest-text" style="font-size: 18px">Bezienswaardigheden</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/strand.jpg" class="notSelected" hobbyName="strand" alt="strand"
           (click)="selectHobby($event)">
      <div class="interest-text">Strand</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/bowlen.jpg" class="notSelected" hobbyName="bowlen" alt="bowlen"
           (click)="selectHobby($event)">
      <div class="interest-text">Bowlen</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/cultuur.jpg" class="notSelected" hobbyName="cultuur" alt="cultuur"
           (click)="selectHobby($event)">
      <div class="interest-text">Cultuur</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/natuur.jpg" class="notSelected" hobbyName="natuur" alt="natuur"
           (click)="selectHobby($event)">
      <div class="interest-text">Natuur</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/nachtleven.jpg" class="notSelected" hobbyName="nachtleven" alt="nachtleven"
           (click)="selectHobby($event)">
      <div class="interest-text">Nachtleven</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/dieren.jpg" class="notSelected" hobbyName="dieren" alt="dieren"
           (click)="selectHobby($event)">
      <div class="interest-text">Dieren</div>
    </div>

    <div class="hobbyImg" #hobbyImg name="hobbyImg">
      <img src="assets/img/phaseOnePics/boottocht.png" class="notSelected" hobbyName="boottocht" alt="boottocht"
           (click)="selectHobby($event)">
      <div class="interest-text">Boottochten</div>
    </div>

  </div>
<br>
  <div class="buttonWrapper">
    <button (click)="ceck($event)"  class="button"> Bevestig interesses</button>
  </div>
</div>

