<div class="first-phase-wrapper">
  <div class="button">
    <a routerLink='/second-phase' routerLinkActive="selected" class="button"> Move on to the next phase!</a>
  </div>

<div class="allImgs">
  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/kanoen.PNG" class="notSelected" hobbyName="Kanoën" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">Kanoën</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/skydiven.PNG" class="notSelected" hobbyName="skydiven" alt="skydiven"
         (click)="selectHobby($event)">
    <div class="overlay">Skydiven</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/zwemmen.PNG" class="notSelected" hobbyName="zwemmen" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">Zwemmen</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/uitgaan.PNG" class="notSelected" hobbyName="uitgaan" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">Uitgaan</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/shoppen.PNG" class="notSelected" hobbyName="shoppen" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">Shoppen</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/bioscoop.PNG" class="notSelected" hobbyName="bioscoop" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">Naar de bioscoop gaan</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/museum.PNG" class="notSelected" alt="Kanoën" hobbyName="museum"
         (click)="selectHobby($event)">
    <div class="overlay">Museum bezoeken</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/pretpark.PNG" class="notSelected" hobbyName="pretpark" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">Pretpark</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/alcoholEnDrugs.PNG" class="notSelected" alt="Kanoën" hobbyName="alcEnDrugs"
         (click)="selectHobby($event)">
    <div class="overlay">Alcohol en drugs ;)</div>
  </div>

  <div class="hobbyImg" #hobbyImg name="hobbyImg">
    <img src="assets/img/phaseOnePics/karting.PNG" class="notSelected" hobbyName="karting" alt="Kanoën"
         (click)="selectHobby($event)">
    <div class="overlay">karting</div>
  </div>
</div>
</div>

