.app-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 100%;
}

.top-section{

}

.content-section{
  text-align: center;

  display: flex;
  flex-direction: column;
  background-color: rgba(black, 0.75);

  flex-grow: 1;

  margin: 0.5% 5% 1% 5%;

  min-height: auto;
}
