<div class="home-wrapper">
  <h1>Welkom op VakantieFinder!</h1>
  <br>
  <div class="home-text">
    <h2>Ben jij ook zat van thuis zitten en niet naar het buitenland op vakantie kunnen tijdens de Covid-19 pandemie? Wij van VakantieFinder zijn er om jou te helpen! Er is namelijk in Nederland net zo veel leuks te doen en zien als in het buitenland. Wij hebben dan ook een quiz ontwikkeld om jou te helpen om een prachtige locatie in Nederland te vinden. Klik op de knop om jouw volgende vakantiebestemming te vinden!</h2>
  </div>
  <img width=435 height=469 src="/assets/img/VakantieFinder.png" alt="VakantieFinderLogo">
  <br>
  <button routerLink="first-phase" routerLinkActive="selected" class="button"> Begin quiz!</button>
</div>

