.home-wrapper{
  height: 100%;
  margin: auto;
  overflow: auto;
}

h2, h1{
  padding-left: 5px;
  padding-right: 5px;
}

.button{
  margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
}

.home-text{
  padding: 17px;
}
