<div class="home-wrapper">
  <h1>Welkom bij VakantieFinder!</h1>
  <br>
  <h2>Ben jij ook zat van thuis zitten en niet naar het buitenland op vakantie kunnen tijdens
  de Covid-19 pandemie? Wij van VakantieFinder zijn er om jou te helpen! Er is namelijk in ons
  ons prachtige landje Nederland net zo veel leuks te doen en zien als in het buitenland.
    Wij hebben dan ook een quiz ontwikkeld om jou te helpen om een prachtige locatie in Nederland
    te vinden.</h2>
  <img width=435 height=469 src="/assets/img/VakantieFinder.png" alt="VakantieFinderLogo">
  <br>
  <button routerLink="first-phase" routerLinkActive="selected" class="button"> Klik hier om de quiz te beginnen!</button>
</div>
