.first-phase-wrapper{
  padding: 10px 12px;
  height: 100%;
}

.left-container {
  //background-color: #04AA6D;
  width: 45%;
  max-height: 100%;
  float: left;
  margin: 1%;
}

.right-container {
  //background-color: red;
  width: 45%;
  max-height: 100%;
  float: right;
  margin: 1%;
}

.pics_in_a_row {
  width: 100%;
  display: flex;
  margin: auto;
  overflow-y: auto;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  height: 96%;
  width: 100%;

}

a { text-decoration: none; color: black }


button:hover {
  opacity: 0.8;
}
