<div class="second-phase-wrapper">

  <h2> Kies welke omgeving jou het meest aantrekt</h2>

  <div class="left-container"> <!-- begin linker container -->
    <div style="margin-top: 1%">

      <div class="pics_in_a_row">

        <div class="column">
          <img src="assets/img/phaseOnePics/bioscoop.PNG" hobbyName="bioscoop" alt="bioscoop">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/kanoen.PNG" hobbyName="Kanoën" alt="Kanoën">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/karting.PNG" hobbyName="karting" alt="karting">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/museum.PNG" hobbyName="museum" alt="museum">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/pretpark.PNG" hobbyName="pretpark" alt="pretpark">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/uitgaan.PNG" hobbyName="uitgaan" alt="uitgaan">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/shoppen.PNG" hobbyName="shoppen" alt="shoppen">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/alcoholEnDrugs.PNG" hobbyName="alcoholEnDrugs" alt="alcoholEnDrugs">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/skydiven.PNG" hobbyName="skydiven" alt="skydiven">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/zwemmen.PNG" hobbyName="zwemmen" alt="zwemmen">
        </div>

      </div>

    </div>
    <div>
      <button>
        <a routerLink='/results' routerLinkActive="selected" class="button"> Deze</a>
      </button>
    </div>

  </div> <!-- einde linker container -->

  <div class="right-container"> <!-- begin rechter container -->

    <div style="margin-top: 1%">

      <div class="pics_in_a_row">

        <div class="column">
          <img src="assets/img/phaseOnePics/bioscoop.PNG" hobbyName="bioscoop" alt="bioscoop">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/kanoen.PNG" hobbyName="Kanoën" alt="Kanoën">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/karting.PNG" hobbyName="karting" alt="karting">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/museum.PNG" hobbyName="museum" alt="museum">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/pretpark.PNG" hobbyName="pretpark" alt="pretpark">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/uitgaan.PNG" hobbyName="uitgaan" alt="uitgaan">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/shoppen.PNG" hobbyName="shoppen" alt="shoppen">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/alcoholEnDrugs.PNG" hobbyName="alcoholEnDrugs" alt="alcoholEnDrugs">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/skydiven.PNG" hobbyName="skydiven" alt="skydiven">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/zwemmen.PNG" hobbyName="zwemmen" alt="zwemmen">
        </div>

      </div>

    </div>

    <div>
      <button>
        <a routerLink='/results' routerLinkActive="selected" class="button"> Deze</a>
      </button>
    </div>

  </div> <!-- einde rechter container -->




<!--  <a routerLink='/results' routerLinkActive="selected" class="button"> See the results!</a>-->
</div>
