<div class="second-phase-wrapper">
  <div class="heading-text">
    <h1> Kies welke foto's jou het meest aantrekken</h1>
  </div>


  <div class="left-container" id="leftContainer" cityName="Not selected yet" > <!-- begin linker container -->

    <div style="margin-top: 1%">

      <div class="pics_in_a_row">

          <div class="column">
            <img src="assets/img/phaseOnePics/bioscoop.PNG" #leftPic0  id="leftPic0" alt="bioscoop">
            <img src="assets/img/phaseOnePics/kanoen.PNG" #leftPic1 id="leftPic1" alt="kanoën">
          </div>
          <div class="column">
            <img src="assets/img/phaseOnePics/karting.PNG" #leftPic2 id="leftPic2" alt="karting">
            <img src="assets/img/phaseOnePics/museum.PNG" #leftPic3 id="leftPic3" alt="museum">
          </div>

      </div>

    </div>
    <br>
    <div>
      <button
         (click)="nextCity($event)" side="left" class="button"> Deze
      </button>
    </div>

  </div> <!-- einde linker container -->

  <div class="right-container" id="rightContainer" cityName="Not selected yet" > <!-- begin rechter container -->

    <div style="margin-top: 1%">

      <div class="pics_in_a_row">

        <div class="column">
          <img src="assets/img/phaseOnePics/bioscoop.PNG" #rightPic0 id="rightPic0" alt="bioscoop">
          <img src="assets/img/phaseOnePics/kanoen.PNG" #rightPic1 id="rightPic1" alt="Kanoën">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/karting.PNG" #rightPic2 id="rightPic2" alt="karting">
          <img src="assets/img/phaseOnePics/museum.PNG" #rightPic3 id="rightPic3" alt="museum">
        </div>

      </div>

    </div>
    <br>
    <div>
      <button
         (click)="nextCity($event)" side="right" class="button"> Deze
      </button>
    </div>

  </div> <!-- einde rechter container -->




<!--  <a routerLink='/results' routerLinkActive="selected" class="button"> See the results!</a>-->
</div>
