<div class="second-phase-wrapper">

  <h2> Kies welke omgeving jou het meest aantrekt</h2>

  <div class="left-container" id="leftContainer" cityName="Not selected yed" > <!-- begin linker container -->
    <div style="margin-top: 1%">

      <div class="pics_in_a_row">

        <div class="column">
          <img src="assets/img/phaseOnePics/bioscoop.PNG" #leftPic0  id="leftPic0" alt="bioscoop">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/kanoen.PNG" #leftPic1 id="leftPic1" alt="kanoën">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/karting.PNG" #leftPic2 id="leftPic2" alt="karting">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/museum.PNG" #leftPic3 id="leftPic3" alt="museum">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/pretpark.PNG" #leftPic4 id="leftPic4" alt="pretpark">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/uitgaan.PNG" #leftPic5 id="leftPic5" alt="uitgaan">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/shoppen.PNG" #leftPic6 id="leftPic6" alt="shoppen">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/alcoholEnDrugs.PNG" #leftPic7 id="leftPic7" alt="alcoholEnDrugs">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/skydiven.PNG" #leftPic8 id="leftPic8" alt="skydiven">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/zwemmen.PNG" #leftPic9 id="leftPic9" alt="zwemmen">
        </div>

      </div>

    </div>
    <div>
      <button>
        <a (click)="nextCity($event)" side="left" class="button"> Deze</a>
      </button>
    </div>

  </div> <!-- einde linker container -->

  <div class="right-container" id="rightContainer" cityName="Not selected yed" > <!-- begin rechter container -->

    <div style="margin-top: 1%">

      <div class="pics_in_a_row">

        <div class="column">
          <img src="assets/img/phaseOnePics/bioscoop.PNG" #rightPic0 id="rightPic0" alt="bioscoop">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/kanoen.PNG" #rightPic1 id="rightPic1" alt="Kanoën">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/karting.PNG" #rightPic2 id="rightPic2" alt="karting">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/museum.PNG" #rightPic3 id="rightPic3" alt="museum">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/pretpark.PNG" #rightPic4 id="rightPic4" alt="pretpark">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/uitgaan.PNG" #rightPic5 id="rightPic5" alt="uitgaan">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/shoppen.PNG" #rightPic6 id="rightPic6" alt="shoppen">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/alcoholEnDrugs.PNG" #rightPic7 id="rightPic7" alt="alcoholEnDrugs">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/skydiven.PNG" #rightPic8 id="rightPic8" alt="skydiven">
        </div>
        <div class="column">
          <img src="assets/img/phaseOnePics/zwemmen.PNG" #rightPic9 id="rightPic9" alt="zwemmen">
        </div>

      </div>

    </div>

    <div>
      <button>
        <a (click)="nextCity($event)" side="right" class="button"> Deze</a>
      </button>
    </div>

  </div> <!-- einde rechter container -->




<!--  <a routerLink='/results' routerLinkActive="selected" class="button"> See the results!</a>-->
</div>
