.accountoverzicht-wrapper{
  margin-top: 100px;
  height: 100%;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 2px 0 12px 0;
}

.container {
  padding: 16px;
  text-align: left;
  width: auto;
  margin: auto;
  padding-left: 35%;
  padding-right: 35%;
  color: white;
}






