<!DOCTYPE html>
<html lang="nl">
<head>
  <link rel="apple-touch-icon" href="http://localhost:4200/home">
  <title></title>
</head>
<body>

<div class="header">
  <a href="#default" class="logo">
    <img src="assets/img/VakantieFinder.png" alt="home-icon" width="47" height="47" style="vertical-align:middle"/>
    Vakantie<span>Finder</span>
  </a>

  <div *ngIf="isUserLoggedIn() === false" class="header-right">
    <a class="active" routerLink="/login" routerLinkActive="selected">Log in</a>
  </div>

  <div *ngIf="isUserLoggedIn()" (click)="logOutUser()" class="header-right">
    <a class="active" routerLink="/" routerLinkActive="selected">Log uit</a>
  </div>

  <div *ngIf="isUserLoggedIn()" class="header-right">
     <!-- deze methode haalt de voornaam op als dit nog niet gedaan is -->
    <a routerLink="/accountoverzicht" routerLinkActive="selected" style="background-color: white">
      <img src="assets/img/User-Icon-PNG-715x715.png" alt="user_logged_in" width="22" height="22" style="vertical-align:middle"/>
      Account
    </a>
  </div>

</div>

</body>
</html>
