/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');
//@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html{
  font-family: 'Inter', "sans-serif";
  color: #222;

  //https://source.unsplash.com/random/1920x1080
  //https://images.unsplash.com/photo-1623593372513-d30787aa1552?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixlib=rb-1.2.1&q=80&w=1920
  background-image: url("https://images.unsplash.com/photo-1623593372513-d30787aa1552?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixlib=rb-1.2.1&q=80&w=1920");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

html, body{
  height: 100%;
}

h1{
  font-size: 40px;
  color: white;
}

h2{
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

button {
  background: rgba(white, 0.6);
  text-decoration: none;

  border-radius: 7px;
  border: none;

  width: auto;
  height: auto;

  padding: 10px 10px;

  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}


