<div class="register-wrapper">

  <h2>Maak een account aan</h2>

  <!--  <div class="imgcontainer">-->
  <!--    <img src="assets/img/VakantieFinder.png"-->
  <!--         alt="home-icon" width="140" height="140"/>-->
  <!--  </div>-->

  <form #registerform="ngForm">
    <div class="container">

      <div class="form-group">
        <label >Voornaam:</label>
        <input #voornaamInput class=form-control ngModel name="firstName" id="firstName" type="text" placeholder="Voornaam..." required>
        <!--              <div class="invalid-input"> Gebruikersnaam is nog leeg </div>-->
      </div>

      <div class="form-group">
        <label >Achternaam:</label>
        <input #achternaamInput class=form-control ngModel name="lastName" id="lastName" type="text" placeholder="Achternaam..." required>
        <!--              <div class="invalid-input"> Gebruikersnaam is nog leeg </div>-->
      </div>

      <div class="form-group">
        <label >Email:</label>
        <input #emailInput class=form-control ngModel name="email" id="email" type="text" placeholder="Gebruikersnaam..." required>
        <!--              <div class="invalid-input"> Gebruikersnaam is nog leeg </div>-->
      </div>

      <div class="form-group">
        <label >Wachtwoord:</label>
        <input #wachtwoordInput class=form-control ngModel name="pwd" id="pwd" type="password" placeholder="Wachtwoord..." required>
        <!--              <div class="invalid-input"> Wachtwoord is niet correct </div>-->
      </div>

      <div class="form-group">
        <label >Herhaal wachtwoord:</label>
        <input #wachtwoordInput2 class=form-control ngModel name="pwd2" id="pwd2" type="password" placeholder="Wachtwoord..." required>
        <!--              <div class="invalid-input"> Wachtwoord is niet correct </div>-->
      </div>


      <button type="submit" class="btn btn-primary" (click)="onRegisterButtonClicked(voornaamInput.value, achternaamInput.value, emailInput.value, wachtwoordInput.value, wachtwoordInput2.value)">Registreer</button>

    </div>
  </form>

</div>
